body {
	margin: 0;
	text-align: center;
  background: url(jorabordiur.github.io/IMG_0547.jpg) no-repeat center center fixed; 
  }

h1 {
	font-size: 52px;
  	font-family: Palatino, 'Palatino Linotype', serif;
  	color: #E5C50F;
	}

h3 {
	font-size: 26px;
  	font-family: Palatino, 'Palatino Linotype', serif;
  	color: #39EFF2;
}

.hero {
	padding: 160px 0;
	margin: 120px;
  	font-family: Palatino, 'Palatino Linotype', serif;
      	color: black;
  }

p {
  	font-size: 2rem;
	color: white;

}

.hero a {
	color: #30FA4F;
	font-size: 1.25em;
	text-decoration: none;
}
#footer{
  	font-size: 0.75rem;
	color: white;
  
}

